<div #toplevel id='toplevel'>
    <drawing-canvas #myCanvas id='canvas'></drawing-canvas>
    <quarter-button 
        class='up'
        rotation='270deg' 
        (touchend)= 'endTouchUp()'
        (touchstart)='startTouchUp()'>
    </quarter-button>
    <quarter-button 
        class='down'
        rotation='90deg' 
        (touchend)= 'endTouchDown()'
        (touchstart)='startTouchDown()'>
    </quarter-button>
    <quarter-button 
        class='left'
        rotation='180deg' 
        (touchend)= 'endTouchLeft()'
        (touchstart)='startTouchLeft()'>
    </quarter-button>
    <quarter-button 
        class='right'
        rotation='0deg' 
        (touchend)= 'endTouchRight()'
        (touchstart)='startTouchRight()'>
    </quarter-button>
</div>
